<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <context-param>
        <param-name>controller-package</param-name>
        <param-value>com.black.app.controllers</param-value>
    </context-param>

    <listener>
        <listener-class>
            com.black.framework.listeners.ContextListener
        </listener-class>
    </listener>

    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>
            com.black.framework.controller.FrontController
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>